<!-- Chartkick 这一套搭配 Rails 最简单，甚至不需要写 JavaScript 代码，有 Helper 可以使用
Chart.js 这一套好用又漂亮，需要写 JavaScript
D3.js 这一套功能最强，是专业的数据可视化套件，但也比较复杂 -->
<!-- Chart.js 有 chart-js-rails gem 可以安装，但是因为只有后台报表那一页有用到，
所以我们就不包进 asset pipeline 了，而是使用 CDN 让用户直接从 CDN 服务器下载回去 -->
<script src="//cdn.bootcss.com/Chart.js/2.5.0/Chart.bundle.min.js"></script>

<h1><%= @event.name %></h1>

<p>
  <%= link_to "打開前台", event_path(@event), :target => "_blank", :class => "btn btn-primary" %>
</p>

<%= sanitize @event.description %>

<canvas id="myChart1" width="400" height="200"></canvas>
<script>
  var ctx1 = document.getElementById("myChart1");
  var myChart1 = new Chart(ctx1, {
    type: 'bar', //长条图
    data: <%= raw @data1.to_json %>,
    options: {
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: true // Y 轴要从 0 起跳
          }
        }]
      }
    }
  });
</script>
<hr>

<canvas id="myChart2" width="400" height="200"></canvas>
<script>
  var ctx2 = document.getElementById("myChart2");
  var myChart2 = new Chart(ctx2, {
    type: 'bar',
    data: <%= raw @data2.to_json %>,
    options: {
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: true
          }
        }]
      }
    }
  });
</script>
